.container {
    margin: 20px auto;
}
.textBox {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.title {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.content {
    padding: 10px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttonBox {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.li {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}
.open {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.detail {
    font-size: 14px;
    color: #ccc;
}
